language: php

php:
 - 5.5
 - 5.6
 - 7.0
 - 7.1
 - 7.2
 - 7.3

before_script:
 - wget http://getcomposer.org/composer.phar
 - php composer.phar install --no-interaction

script:
 - phpunit

after_script:
 - php vendor/bin/coveralls -v
